.Presence-main{
    padding-top: 20px;
    padding-bottom: 20px;
    
}

.Presence{
    padding-top: 20px; ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
/* photos ki hight change karna */

.Presence  .PRODUCTS{
    flex-basis: 24%;
    box-shadow: var(--box-shadow);
    overflow: hidden;
    height: 300px;
    border-radius: 10px;
    position:relative;
}

.Presence .PRODUCTS img{
    width: 110%;
    
  
    
}

/*photos me effects */

.Presence .PRODUCTS div{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 1;
    opacity: 0;
    transition: 0.5s;
    cursor: pointer;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
}

.Presence .PRODUCTS-title{
    margin-top: -100px;
    color: var(--white-color);
    font-weight: 600;
    font-size: 15px;
    transition: 0.5s;
    border-bottom: 5px solid var(--primary-color);
}


.Presence .PRODUCTS div:hover{
    opacity: 1;
}

.Presence .PRODUCTS div:hover .PRODUCTS-title{
    opacity: 1;
    margin-top: 100px;
}

/********Media Query**********/
 /*photos ko multipal parts me devide karna */

 @media (max-width:1024px){
    .Presence{
        flex-wrap: wrap;
    }

    .Presence .PRODUCTS{
        flex-basis: 48%;
        height: 400px;
        margin-bottom: 20px;
    }
}
@media (max-width:700px){

    .Presence .PRODUCTS{
        height: 300px;
    }
}

@media (max-width: 533px){

    .Presence .PRODUCTS{
        flex-basis: 100%;
        height: 350px;
    }
}